<!--
 * @Description: 
 * @Autor: ShenHao
 * @Date: 2021-04-10 19:55:22
 * @LastEditors: ShenHao
 * @LastEditTime: 2021-04-18 16:41:15
-->
<html>
	<head>

	</head>
	<body>
		<section style="min-height: 400px;">
			<table class="table" border="1">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Room ID</th>
				  <th>Owner ID</th>
				  <th>Session</th>
				  <th>Extra</th>
				  <th>Participants</th>
				  <th>Join</th>
				</tr>
			  </thead>
			  <tbody id="rooms-list">
				  <tr><td colspan="9">No active room found for this demo.</td></tr></tbody>
			</table>
		  </section>
	</body>
</html>  