<ul class="rooms">
    {% for room in rooms %}
    <li class="room">
        <div class="room-thumbnail">
        </div>
        <div class="room-content">
            <div class="room-owner"><a href="{{ url_for('main.user', username=room.owner_name) }}">owner:{{ room.owner_name}}</a></div>
            <div class="room-id"><a href="{{ url_for('main.room', room_id=room.rid) }}">room id:{{ room.rid}}</a></div>
            <div class="room-body">
                {{room.id}}
            </div>
            <div class="room-footer">
                TODO
            </div>
        </div>
    </li>
    {% endfor %}
</ul>